.todotable{ 
    tr td, tr th{
        border: 1px solid gray;
        text-align: center;
        padding:2px
    }
    .doneRow{
        background-color: lightgreen;
    }
    .notDoneRow{
        background-color: pink;
    }
    .tableHeader{
        background-color: lightgray;
    }
}